/* Parte 1: O tamanho do espaço na tela */
#carrossel {
  width: 100%;
  height: 450px;
  position: relative;
}

/* Parte 2: A regra para esconder todos os slides */
.slide {
  display: none;
}

/* Parte 3: A regra para mostrar só o slide com a classe ativo */
.slide.ativo {
  display: block;
}

/* Parte 4: O tamanho e ajuste da imagem /
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}